html, body, #map {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#searchDiv {
    display: block;
    position: absolute;
    top: 20px; 
    left: 60px;
}

#logo {
    display: block;
    margin: 0 auto; 
    z-index: 2;
    display: block;
    bottom: 45px;
    left: 20px;
    position: absolute;
    padding: 5px 5px 5px 5px;
}

#controls {
    position: absolute;
    height: 210px;
    bottom: 10px;
    margin: 5px;
    padding: 5px;
    z-index: 40;
    background: #fff;
    color: #444;
    width: 90%;
    left: 10px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
